.body11 {
    background-image: url('imgandvids/imagee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.734);   

  }



.video-container{
    text-align: center;
    border-style: solid ;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.734);   
    margin: auto;
    padding: auto;
}

.h111{
    text-align: center;
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.734);   

}
.content{
    text-align: center;
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.734);   
}


.text{
    text-align: center;
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.734);   
}




.socialm1{
    text-align: center;
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.612);   

}


.a11111{
    text-align: center;
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.662);   

}



.body22{
    background-image: url('imgandvids/unnamed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.296);    

}







.content2{
    text-align: center;
    border: solid;
    color:white;

    background-color: rgba(0, 0, 0, 0.734);     
}



.back{
  text-align: left;
}




.petros{
    text-align: center;
}


.body3{
    background-image: url(imgandvids/klklklklk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.734);  
    text-align: center;
    
}


.h13{
    text-align: center;
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.734); 
}

.video-container2{
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.145); 
    
}

